.primary {
    color: #282828
}

.secondary {
    color: #cf322e;
}


body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Fredoka", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    color: #3d3d3d;
}

ul,ol {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-position: inside;
    list-style-type: disc;
}

button {
    all:unset;
}

form {
    all:unset;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1%
}

#topnav {
    background-color: white;
    display: flex;
    text-decoration: none;
    padding-bottom: 15px;
    box-shadow: 0px 0px 15px rgba(40, 40, 40, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#navmenu {
    margin-left: auto;
    display: flex;
    align-items: center;
}


#navmenu a {
    color: #282828;
    text-decoration: none;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    padding: 15px 15px;
    font-size: 1.25em;
    font-weight: 600;   
}

#navmenu a:hover {
    background-color: #cf322e;
    color: white;
}

#navmenu a.active {
    background-color: #cf322e;
    color: white;
}

#logo {
    width: 200px;
    height: 100px;
}

.responsive {
    width: 100%;
    height: auto;
}

#page {
    margin-top: 115px;
}

#banner {
    background: #CF322E;
    background: linear-gradient(145deg,rgba(207, 50, 46, 1) 25%, rgba(217, 116, 85, 1) 100%),
    url(https://images.unsplash.com/photo-1658542038445-3b17dbadcecd?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 100%;
    height: 500px;
    background-blend-mode: soft-light, hard-light, overlay;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 0px 7px 16px rgba(40, 40, 40, 0.85);

}

#bannertext {
    height: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom:5%;
}

#bannertext h1{
    color: #fefefe;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 3.25em;
    text-align: right;
    text-shadow: 3px 3px 3px rgba(40, 40, 40, 0.5);
    opacity: 0;
    animation: fadein 2s ease-in-out forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#hero {
    display: flex;
}

.heroitem {
    display: flex;
    padding: 15px;
    margin: 10px;
    width:33%;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}

.heroitem img {
    border-radius: 100%;
    object-fit: cover;
    align-self: center;
    object-position: center;
    width: 100%;
    aspect-ratio: 1/1;
    /* border:  #CF322E solid 5px; */
    max-width: 400px;
    max-height: 400px;
    /* box-shadow: 3px 3px 8px rgba(40, 40, 40, 0.5); */
}

.herotext h1 {
   color: #282828;
   text-align: center;
   text-shadow: 1px 1px 1px rgba(40, 40, 40, 0.5);
}
#calltitle {
    font-size: 2em;
    text-align: center;
    padding: 25px;
}

#calltitle h1 {
    font-weight: 600;
    font-family: "Fredoka", sans-serif;
}


#callbutton {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#allPetsBtn {
    text-decoration: none;
    background-color: #CF322E;
    color: white;
    font-family: "Fredoka", sans-serif;
    font-size: 3em;
    font-weight: 600;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 7px rgba(40, 40, 40, 0.5);
}

#allPetsBtn:hover {
    background-color: white;
    color: #CF322E;
    border: #CF322E solid 1px;
    transition-duration: 350ms;
}

#allPetsBtn:active {
    background-color: #f78987;
    transform: translateY(4px);
    color: white;
    box-shadow:0 2px rgba(40, 40, 40, 0.75);
}

#loginwindow {
    border: #282828 solid 2px;
    border-radius: 5%;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 200px 0 200px 25%;
    padding-top: 15px;
}

#showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.showcaseItem {
    margin: 15px;
    width:40%;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.showcaseItem img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10%;
}

.showcaseTitle h1 {
   color: #282828;
   text-align: center;
   text-shadow: 1px 1px 1px rgba(40, 40, 40, 0.5);
   font-size: 1.2em;
}

.showcaseInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #282828;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.showcaseItem:hover .showcaseInfo{
    opacity: .90;
}

.petDetails {
    text-align: left;
    max-width: 90%;
    margin: 10%
}

.petDetails h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.5em;
    text-align: center;
}

.petDetails p {
    margin: 8px 0;
    font-size: 1em;
    line-height: 1.4;
}

.petDetails strong {
    font-weight: 600;
}

.applicationBtn {
    text-decoration: none;
    background-color: #CF322E;
    color: white;
    font-family: "Fredoka", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 7px rgba(40, 40, 40, 0.5);
    display: block;
    margin: 20px auto 0;
    padding: 12px 30px;
    cursor: pointer;
    width: 25%;
}


.applicationBtn:hover {
    background-color: white;
    color: #CF322E;
    border: #CF322E solid 1px;
    transition-duration: 350ms;
}

.applicationBtn:active {
    background-color: #f78987;
    transform: translateY(4px);
    color: white;
    box-shadow:0 2px rgba(40, 40, 40, 0.75);
}

.applicationStatus {
    text-decoration: none;
    background-color: blue;
    color: white;
    font-family: "Fredoka", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    padding: 20px;
    border-radius: 15px;
    display: block;
    margin: 20px auto 0;
    padding: 12px 30px;
    width: 25%;
    text-align: center;
}

.hold {
    background-color: orange;
}

.pending {
    background-color: blue;
}

.adopted {
    background-color: green;
}

.siteForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
}

.siteForm input, select {
    font-size: 1.22em;
    height: 2em;
}

#loginStatus {
    text-align: center;
    margin-bottom: 35px;
    font-weight: bolder;
}

.error {
    color: #CF322E;
}

.success {
    color: #61cf2e;
}


.siteButtons {
    text-decoration: none;
    background-color: #CF322E;
    color: white;
    font-family: "Fredoka", sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 7px rgba(40, 40, 40, 0.5);
    width: 25%;
    margin-top: 25px;
    text-transform: uppercase;
    text-align: center;
}

.siteButtons:hover {
    background-color: white;
    color: #CF322E;
    border: #CF322E solid 1px;
    transition-duration: 350ms;
}

.siteButtons:active {
    background-color: #f78987;
    transform: translateY(4px);
    color: white;
    box-shadow:0 2px rgba(40, 40, 40, 0.75);
}

.clearbtn {
    text-decoration: none;
    background-color: #CF322E;
    color: white;
    font-family: "Fredoka", sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 5px rgba(40, 40, 40, 0.5);
    width: 150px;
    text-transform: uppercase;
    text-align: center;
}

.clearbtn:hover {
    background-color: white;
    color: #CF322E;
    border: #CF322E solid 1px;
    transition-duration: 350ms;
}

.clearbtn:active {
    background-color: #f78987;
    transform: translateY(4px);
    color: white;
    box-shadow:0 2px rgba(40, 40, 40, 0.75);
}


#adminTitle {
    font-size: 3em;
    text-align: center;
}

.btnbox {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer {
    border-top: rgba(40, 40, 40, 0.25) solid 1px;
    text-align: center;
}

#filterBar {
    /* background: green; */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.filterSection{
    /* background-color: red; */
    padding: 10px;
}

.filterSection label {
    font-weight: 500;
}

.hide {
    display: none;
}

#formMessage {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: none;
}

.formError {
    background-color: #ffebee;
    color: #c62828;
    border: 1px solid #c62828
}

.formSuccess {
    background-color: #e8f5e9;
    color: #2e7d32;
    border: 1px solid #2e7d32
}